<tr>
    <% if (entries.confirmed) { %>
        <td class="admin" style="background-color: green;"> <%= x %> </td>
    <% } else { %>
        <td class="admin" style="background-color: red;"> <%= x %> </td>
    <% } %>            
    <td class="admin"> <a target="_blank" href="/info/<%= entries._id %>"> <%= entries.productName %> </a> </td>
    <td class="admin"> <a target="_blank" href="/profile/<%= entries.userID %> "> <%= entries.email %> </a> </td>
    <td class="admin"> <%= entries.quantity %> </td>
    <td class="admin"> <%= entries.price %> </td>
    <td class="admin">
        
            <% if (entries.confirmed) { %>
                <form class="form_inline" method="POST">
                    <input type="hidden" name="entryURL" value="<%= type %>">
                    <input type="hidden" name="categoryURL" value="<%= category %>">
                    <input type="hidden" name="productID" value="<%= entries._id %>">
                    <input class="btn_admin" style="background:#C12727" type="submit" name="btn_modify" value="delete">
                </form> 
            <% } else { %>
                <form class="form_inline" method="POST">
                    <input type="hidden" name="entryURL" value="<%= type %>">
                    <input type="hidden" name="categoryURL" value="<%= category %>">
                    <input type="hidden" name="productID" value="<%= entries._id %>">
                    <input class="btn_admin" type="submit" name="btn_modify" value="approve">
                </form>
            <% } %>            
            
        
    </td>
</tr>
