<tr>
    <td class="admin"> <%= x %> </td>
    <td class="admin"> <%= entries.date %> </td>
    <td class="admin"> <a href="/profile/<% entries.sellerID %>" target="_blank"> <%= entries.sellerEmail %></a>  </td>
    <td class="admin"> <a href="/profile/<% entries.buyerID %>" target="_blank"> <%= entries.buyerEmail %></a>  </td>
    <td class="admin"> <%= entries.productName %> </td>
    <td class="admin"> <%= entries.quantity %> </td>
    <td class="admin"> ₱<%= entries.totalPrice %> </td>    
</tr>