<tr>
    <td class="admin"> <%= tickets.productID %> </td>
    <td class="admin"> <%= tickets.productName %> </td>
    <td class="admin"> <%= tickets.sellerEmail %> </td>
    <td class="admin"> <%= tickets.quantity %> </td>
    <td class="admin"> <%= tickets.price %> </td>
    <td class="admin">
        <form class="form_inline" action="/approve/<%= tickets._id %>">
            <input type="hidden" name="adminRedirectURL" value="admin/<%= admin %>/<%= category %>">
            <input class="btn_admin" type="submit" value="Approve">
            <input class="btn_admin" style="background:#C12727" type="submit" value="Delete">
        </form> 
    </td>
</tr>
