<div class="placedProduct col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4" style="margin:0px">
    <!-- <table class="catalog">
        <tr> -->
            <!-- REPEAT -->
            <div class="catalog">
                <table style="width:377px; height:500px;">
                    <tr>
                        <td>
                            <!-- <img src="../../images/logo.png" class="catalog" alt="product"> -->
                            <img src="<%= products.imagePath1 %>" class="catalog" alt="product">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <% if (products.productName.length > 10) { %>
                                <h1 class="item"> <%= products.productName.slice(0, 10) %>... </h1>
                            <% } else { %>
                                <h1 class="item"> <%= products.productName %> </h1>
                            <% } %>   
                            <br style="line-height: 50%;">
                            <p class="price"> ₱<%= products.price %> </p>
                            <p class="item"> <%= products.quantity %> pcs. left </p>
                        </td>
                    </tr>
                    <tr>
                        <td>                            
                            <% if (products.userID == _id) { %>
                                <form class="form_inline" action="/info/<%= products._id %>">
                                    <input class="btn_catalog" style="background:#263B5B" type="submit" value="Edit">
                                </form>                                 
                            <% } else { %>                                                                                
                                <form class="form_inline" action="/order/<%= products._id %> ">
                                    <input class="btn_catalog" type="submit" value="Order Now">
                                </form>
                                <form class="form_inline" action="/info/<%= products._id %>">
                                    <input class="btn_catalog" style="background:#263B5B" type="submit" value="Learn More">
                                </form> 
                            <% } %>
                        </td>
                    </tr>
                </table>
            </div>
        <!-- </tr>
    </table> -->
</div>
