<html lang="en">
    <head>
        <%- include('../partials/head'); %>
        <title> MCM Virtual Marketplace </title>
    </head>
    <body>
        <header>
            <%- include('../partials/header'); %>
        </header>

        <main>
            <ul class="menu">
                <li class="menu"><a href="/admin/products/<%= category %>">All Tickets</a></li>
                <li class="menu"><a href="/admin/confirmed/<%= category %>">Confirmed Tickets</a></li>
                <li class="menu"><a href="/admin/unconfirmed/<%= category %>">Unconfirmed Tickets</a></li>
                <li class="menu"><a href="/admin/tickets/<%= category %>">Transactions Tickets</a></li>
            </ul>
            <ul class="menu">
                <li class="menu"><a href="/admin/<%= type %>/all">All Categories</a></li>
                <li class="menu"><a href="/admin/<%= type %>/health&beauty">Health & Beauty</a></li>
                <li class="menu"><a href="/admin/<%= type %>/food"> Food </a></li>
                <li class="menu"><a href="/admin/<%= type %>/digitalproducts"> Digital Products </a></li>
                <li class="menu"><a href="/admin/<%= type %>/electronics"> Electronics </a></li>
                
            </ul>
            
            <% if (type == "products" || type == "confirmed" || type == "unconfirmed") { %>
                <% if (entries.length != 0) { %>
                    <p class="profile_products"> All Available Product Placements </p>
                <% } else { %>
                    <p class="profile_products"> No Available Product Placements </p>
                <% } %>
            <% } else { %>
                <% if (entries.length != 0) { %>
                    <p class="profile_products"> All Available Transaction Tickets </p>
                <% } else { %>
                    <p class="profile_products"> No Available Transaction Tickets </p>
                <% } %>
            <% } %>

            <!-- OVERALL -->
            <div class="container">
                <% if (entries.length != 0) { %>
                    <table>
                        <% if (type == "products" || type == "confirmed" || type == "unconfirmed") { %>
                            <tr>
                                <th class="admin"> No. </th>
                                <th class="admin"> Product Name </th>
                                <th class="admin"> Seller Email </th>
                                <th class="admin"> Quantity </th>
                                <th class="admin"> Price </th>
                                <th class="admin"> Description </th>
                            </tr>
                        <% } else { %>
                            <tr>
                                <th class="admin"> No. </th>
                                <th class="admin"> Date </th>
                                <th class="admin"> Product Name </th>
                                <th class="admin"> Seller Email </th>
                                <th class="admin"> Buyer Email </th>
                                <th class="admin"> Quantity </th>                                
                                <th class="admin"> Total Price </th>                                
                            </tr>
                        <% } %>
                        <% if (type == "products" || type == "confirmed" || type == "unconfirmed") { %>
                            <% for (let x = 0; x < entries.length; x++) { %>
                                <%- include('../partials/admin_products', {entries: entries[x], type, category, x: x + 1}); %>
                            <% } %>
                        <% } else { %>
                            <% for (let x = 0; x < entries.length; x++) { %>
                                <%- include('../partials/admin_transactions', {entries: entries[x], x: x + 1}); %>
                            <% } %>
                        <% } %>
                    </table>    
                <% } %>                                                   
            </div> 
        </main>

        <br><br>

        <footer>
            <%- include('../partials/footer'); %>
        </footer>
    </body>
</html>