<html lang="en">
    <head>
        <%- include('../partials/head'); %>
        <title> Product - MCM Virtual Marketplace </title>
    </head>
    <body style="background:white">
        <header>
            <%- include('../partials/header'); %>
        </header>

        <main>
            <br><br>
            <% if(productError) { %>                                
                <form method="POST">
                    <table class="product">
                        <tr>
                            <td rowspan="6" class="product">
                                <% if (productError) { %>
                                    <img src="<%= data.imagePath1 %>" class="catalog" alt="logo">
                                <% } else { %>
                                    <img src="../../images/logo.png" class="catalog" alt="logo">
                                <% } %>
                            </td>
                            <td class="product">
                                <input name ="productName" type="text" class="txt_login" style="width:100%" placeholder="Product Name" value="<%= data.productName %>" required>
                            </td>
                        </tr>
                        <tr>
                            <td class="product">
                                <input name ="price" type="number" class="txt_product" placeholder="Price" value="<%= data.price %>" required>
                                <input name ="quantity" type="number" class="txt_product" placeholder="Qty." value="<%= data.quantity %>" required>
                                <select name="availability" id="" class="product_avail" required>
                                   <option value="" disabled selected> Availability </option>
                                    <option value="true"> Available </option>
                                    <option value="false"> Sold </option>
                                </select>
                                
                            </td>
                        </tr>
                        <tr>
                            <td class="product">
                                
                                <select name="category" id="" class="product_avail" required>
                                    <option value="" disabled selected> Category</option>
                                    <option value="Health & Beauty"> Health & Beauty </option>
                                    <option value="Food"> Food </option>
                                    <option value="Digital Products"> Digital Products </option>
                                    <option value="Electronics"> Electronics </option>
                                </select>
                                <input name ="imagePath1" type="text" class="txt_product" placeholder="Image Link 1" value="<%= data.imagePath1 %>" required>
                                <!-- <input name ="imagePath2" type="text" class="txt_product" placeholder="Image Link 2" value="<%= data.imagePath2 %>"> -->
                            </td>
                        </tr>
                        <!-- <tr>
                            <td class="product">
                                <input name ="imagePath4" type="text" class="txt_product" placeholder="Image Link 3" value="<%= data.imagePath3 %>">
                                <input name ="imagePath5" type="text" class="txt_product" placeholder="Image Link 4" value="<%= data.imagePath4 %>">
                                <input name ="imagePath6" type="text" class="txt_product" placeholder="Image Link 5" value="<%= data.imagePath5 %>">
                            </td>
                        </tr> -->
                        <tr>
                            <td class="product">
                                <textarea id="" name="description" class="product" placeholder="Description" required><%= data.description %></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td class="product">
                                <!-- <form method="post" enctype="multipart/form-data"> -->
                                    <!-- <input type="file" name="filetoupload" value="Upload Photo"> -->
                                <input type="button" value="Save Product" class="btn_product" id="saveProduct">
                                    <!-- <input type="button" value="Delete" id="deleteProduct"> -->
                                <!-- </form> -->
                            </td>
                        </tr>
                    </table>
    
                    <div id="myModal" class="modal">
                        <div class="modal-content">
                          <span class="close">&times;</span>
                          <!-- IF saveProduct is pressed -->
                          <% if (productError) { %>
                          <p> The product will be now modified, would you like to continue? </p>
                          <% } else { %>
                          <p> The product placement will be moderated first by an admin. </p>
                          <% } %>
                          <!-- ELSE -->
                          <!-- <p>Are you sure you want to delete this product?</p> -->
                          <input type="submit" value="Okay!" id="deleteProduct">
                        </div>
                    </div> 
    
                </form>
            <% } else { %>
                <form method="POST">
                    <table class="product">
                        <tr>
                            <td rowspan="6" class="product">
                                <img src="../../images/logo.png" class="catalog" alt="logo">
                            </td>
                            <td class="product">
                                <input name ="productName" type="text" class="txt_login" style="width:100%" placeholder="Product Name" required>
                            </td>
                        </tr>
                        <tr>
                            <td class="product">
                                <input name ="price" type="number" class="txt_product" placeholder="Price" required>
                                <input name ="quantity" type="number" class="txt_product" placeholder="Qty." required>
                                <select name="availability" id="" class="product_avail" required>
                                   <option value="" disabled selected> Availability </option>
                                    <option value="true"> Available </option>
                                    <option value="false"> Sold </option>
                                </select>
                                
                            </td>
                        </tr>
                        <tr>
                            <td class="product">
                                
                                <select name="category" id="" class="product_avail" required>
                                    <option value="" disabled selected> Category</option>
                                    <option value="Health & Beauty"> Health & Beauty </option>
                                    <option value="Food"> Food </option>
                                    <option value="Digital Products"> Digital Products </option>
                                    <option value="Electronics"> Electronics </option>
                                </select>
                                <input name ="imagePath1" type="text" class="txt_product" placeholder="Image Link 1" required>
                                <!-- <input name ="imagePath2" type="text" class="txt_product" placeholder="Image Link 2"> -->
                            </td>
                        </tr>
                        <!-- <tr>
                            <td class="product">
                                <input name ="imagePath4" type="text" class="txt_product" placeholder="Image Link 3">
                                <input name ="imagePath5" type="text" class="txt_product" placeholder="Image Link 4">
                                <input name ="imagePath6" type="text" class="txt_product" placeholder="Image Link 5">
                            </td>
                        </tr> -->
                        <tr>
                            <td class="product">
                                <textarea id="" name="description" class="product" placeholder="Description" required></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <!-- <form method="post" enctype="multipart/form-data"> -->
                                    <!-- <input type="file" name="filetoupload" value="Upload Photo"> -->
                                <br>
                                <input type="button" value="Save Product" class="btn_product" id="saveProduct">
                                    <!-- <input type="button" value="Delete" id="deleteProduct"> -->
                                <!-- </form> -->
                            </td>
                        </tr>
                    </table>
    
                    <div id="myModal" class="modal">
                        <div class="modal-content">
                          <span class="close">&times;</span>
                          <!-- IF saveProduct is pressed -->
                          <p> The product placement will be moderated first by an admin. </p>
                          <!-- ELSE -->
                          <!-- <p>Are you sure you want to delete this product?</p> -->
                          <input type="submit" value="Okay!" id="deleteProduct">
                        </div>
                    </div> 
    
                </form>
            <% } %>                             

        </main>

        <br><br>

        <footer>
            <%- include('../partials/footer'); %>
        </footer>

        <script>
            var modal = document.getElementById("myModal");
            var btn = document.getElementById("saveProduct");
            var span = document.getElementsByClassName("close")[0];
            btn.onclick = function() {

              modal.style.display = "block";
            }
            span.onclick = function() {
              modal.style.display = "none";
            }
            window.onclick = function(event) {
              if (event.target == modal) {
                modal.style.display = "none";
              }
            }
        </script>
            
    </body>
</html>