<html lang="en">
    <head>
        <%- include('../partials/head'); %>
        <title> MCM Virtual Marketplace </title>
    </head>
    <body>
        <header>
            <%- include('../partials/header'); %>
        </header>

        <main>
            <br><br>
            <table class="profile">
                <tr>
                    <td>
                        <% if (avatarPath == null) { %>
                            <img src="../../images/temp.png" width="250" align ="left" alt="profile_image">
                        <% } else { %>
                            <img src="<%= avatarPath %>" width="250" align ="left" alt="profile_image">
                        <% } %>                        
                    </td>
                    <td>
                        <p class="profile_products" style="text-align:left"> <%= firstName %> <%= lastName %></p>
                        <p class="profile_contact"> <%= sellerEmail %> </p>
                        <p class="profile_contact"> <%= phoneNumber %> </p>
                        <% if (ownership) { %>
                            <a href="/profileedit/<%= _id %>"><img src="../../images/icon_settings.png" class="profile_icon" align ="left" alt="Settings">
                        <% } %>
                    </td>
                    <td style="width:350px; padding:20px">
                        <p class="profile_icon" style="text-align:left">Contact Me:</p>
                        <img src="../../images/icon_messenger.png" class="profile_icon" align ="left" alt="Messenger">
                        <img src="../../images/icon_instagram.png" class="profile_icon" align ="left" alt="Instagram">
                        <img src="../../images/icon_twitter.png" class="profile_icon" align ="left" alt="Twitter">
                        <img src="../../images/icon_linkedin.png" class="profile_icon" align ="left" alt="LinkedIn">
                    </td>
                </tr>
            </table>

            <br><br><br><br><br>
            <% if (products.length != 0) { %>
                <p class="profile_products">Products On Sale </p>
            <% } else { %>
                <p class="profile_products">No Products On Sale </p>
            <% } %>
            
            <div class="container">
                <div class="row">
                    <% for (let x = 0; x < products.length; x++) { %>
                        <%- include('../partials/catalog_table', {products: products[x], _id: _id}); %>
                    <%} %>
                </div>                
            </div>                        

        </main>

        <br><br>

        <footer>
            <%- include('../partials/footer'); %>
        </footer>
    </body>
</html>