<html lang="en">
    <head>
        <%- include('../partials/head'); %>
        <title> MCM Virtual Marketplace </title>
    </head>
    <body>
        <header>
            <%- include('../partials/header'); %>
        </header>

        <main>
            <br><br>
            <table class="profile">
                <tr>
                    <td>                        
                        <% if (avatarPath.length == 0) { %>
                            <img src="../../images/temp.png" width="250" align ="left" alt="profile_image">
                        <% } else { %>
                            <img src="<%= avatarPath %>" width="250" align ="left" alt="profile_image">
                        <% } %>                        
                    </td>
                    <td>
                        <p class="profile_products" style="text-align:left"> <%= firstName %> <%= lastName %></p>
                        <p class="profile_contact"> <%= sellerEmail %> </p>
                        <p class="profile_contact"> <%= phoneNumber %> </p>
                        <% if (ownership) { %>
                            <a href="/profileedit/<%= _id %>"><img src="../../images/icon_settings.png" class="profile_icon" align ="left" alt="settings">
                        <% } %>
                    </td>
                    <td style="width:350px; padding:20px">
                        <p class="profile_icon" style="text-align:left">Contact Me:</p>
                        <% if (messengerLink.length != 0) { %>
                            <% if (messengerLink.indexOf('http://') === 0 || messengerLink.indexOf('https://') === 0) { %>
                                <a target="_blank" href="<%= messengerLink %>"> <img src="../../images/icon_messenger.png" class="profile_icon" align ="left" alt="Messenger"> </a>
                            <% } else { %>
                                <a target="_blank" href="https://<%= messengerLink %>"> <img src="../../images/icon_messenger.png" class="profile_icon" align ="left" alt="Messenger"> </a>
                            <% } %>                              
                        <% } %>
                        
                        <% if (instagram.length != 0) { %>
                            <% if (instagram.indexOf('http://') === 0 || instagram.indexOf('https://') === 0) { %>
                                <a target="_blank" href="<%= instagram %>"> <img src="../../images/icon_instagram.png" class="profile_icon" align ="left" alt="Instagram"> </a>
                            <% } else { %>
                                <a target="_blank" href="https://<%= instagram %>"> <img src="../../images/icon_instagram.png" class="profile_icon" align ="left" alt="Instagram"> </a>
                            <% } %>                          
                        <% } %>

                        <% if (twitter.length != 0) { %>
                            <% if (linkedIn.indexOf('http://') === 0 || linkedIn.indexOf('https://') === 0) { %>
                                <a target="_blank" href="<%= twitter %>"> <img src="../../images/icon_twitter.png" class="profile_icon" align ="left" alt="Twitter"> </a>
                            <% } else { %>
                                <a target="_blank" href="https://<%= twitter %>"> <img src="../../images/icon_twitter.png" class="profile_icon" align ="left" alt="Twitter"> </a>
                            <% } %>
                        <% } %>
                        
                        <% if (linkedIn.length != 0) { %>
                            <% if (linkedIn.indexOf('http://') === 0 || linkedIn.indexOf('https://') === 0) { %>
                                <a target="_blank" href="<%= linkedIn %>"> <img src="../../images/icon_linkedin.png" class="profile_icon" align ="left" alt="LinkedIn"> </a>
                            <% } else { %>
                                <a target="_blank" href="https://<%= linkedIn %>"> <img src="../../images/icon_linkedin.png" class="profile_icon" align ="left" alt="LinkedIn"> </a>
                            <% } %>
                        <% } %>

                        <% if (messengerLink.length == 0 && instagram.length == 0 && twitter.length == 0 && linkedIn.length == 0) { %>
                            <p class="profile_icon" style="text-align:left"> No Social Media Details</p>
                        <% } %>
                    </td>
                </tr>
            </table>

            <br /><br /><br /><br /><br />
            <% if (products.length != 0) { %>
                <p class="profile_products">Products On Sale </p>
            <% } else { %>
                <p class="profile_products">No Products On Sale </p>
            <% } %>
            
            <div id="productPlacements" class="container" style="max-width:100%">
                <div class="row">
                    <% for (let x = 0; x < products.length; x++) { %>
                        <%- include('../partials/catalog_table', {products: products[x], _id: _id}); %>
                    <%} %>
                </div>                
            </div>      
        </main>

        <br><br>

        <footer>
            <%- include('../partials/footer'); %>
        </footer>
    </body>
</html>