<html lang="en">
    <head>
        <%- include('../partials/head'); %>
        <title> Signup - MCM Virtual Marketplace </title>
    </head>
    <body>
        <main>
            <table class="login" style="height:705px">
                <tr><td>
                <table class="signup">
                    
                    <form method="POST">
                        <tr>
                            <td colspan="2"><p class="login_MCM">Sign up to start shopping!</p></td>
                        </tr>
                        <% if (errorMessage != null) { %>
                            <tr>
                                <td><input type="text" name="firstName" class="txt_signup" placeholder="First Name *" value="<%= data.firstName %>" required></td>
                                <td><input type="text" name="lastName" class="txt_signup" placeholder="Last Name *" value="<%= data.lastName %>" required></td>
                            </tr>
                            <tr>
                                <td><input type="email" name="email" class="txt_signup" placeholder="MCM Email Address *" value="<%= data.email %>" required></td>
                                <td><input type="number" name="phoneNumber" class="txt_signup" placeholder="Phone Number *" value="<%= data.phoneNumber %>" required></td>
                            </tr>
                            <tr>
                                <td><input type="password" name="password" class="txt_signup" placeholder="Create Password *" required></td>
                                <td><input type="password" name="confirmPassword" class="txt_signup" placeholder="Confirm Password *" required></td>
                            </tr>
                            <tr>
                                <td> <input type="text" name="city" class="txt_signup" placeholder="City *" value="<%= data.city %>" required> </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><input type="text" name="messengerLink" class="txt_signup" placeholder="Messenger Link" value="<%= data.messengerLink%>"></td>
                                <td><input type="text" name="instagram" class="txt_signup" placeholder="Instagram" value="<%= data.instagram %>"></td>
                            </tr>
                            <tr>
                                <td><input type="text" name="twitter" class="txt_signup" placeholder="Twitter" value="<%= data.twitter %>"></td>
                                <td><input type="text" name="linkedIn" class="txt_signup" placeholder="LinkedIn" value="<%= data.linkedIn %>"></td>
                            </tr>
                        <% } else { %> 
                            <tr>
                                <td><input type="text" name="firstName" class="txt_signup" placeholder="First Name *" required></td>
                                <td><input type="text" name="lastName" class="txt_signup" placeholder="Last Name *" required></td>
                            </tr>
                            <tr>
                                <td><input type="email" name="email" class="txt_signup" placeholder="MCM Email Address *" required></td>
                                <td><input type="number" name="phoneNumber" class="txt_signup" placeholder="Phone Number *" required></td>
                            </tr>
                            <tr>
                                <td><input type="password" name="password" class="txt_signup" placeholder="Create Password *" required></td>
                                <td><input type="password" name="confirmPassword" class="txt_signup" placeholder="Confirm Password *" required></td>
                            </tr>
                            <tr>
                                <td> <input type="text" name="city" class="txt_signup" placeholder="City *" required> </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><input type="text" name="messengerLink" class="txt_signup" placeholder="Messenger Link"></td>
                                <td><input type="text" name="instagram" class="txt_signup" placeholder="Instagram"></td>
                            </tr>
                            <tr>
                                <td><input type="text" name="twitter" class="txt_signup" placeholder="Twitter"></td>
                                <td><input type="text" name="linkedIn" class="txt_signup" placeholder="LinkedIn"></td>
                            </tr>
                            <% } %>
                        <tr>
                            <% if (errorMessage != null) { %>
                                <td colspan="2" class="login_error"> <%= errorMessage %> </td>
                            <% } %>
                            <!-- IF NO ERROR aka staring point -->
                            <td colspan="2" class="login_dot">.</td> 
                        </tr>   
                        <tr>
                            <td colspan="2"><input type="submit" name="register" class="btn_signup" value="CREATE ACCOUNT"></td>
                        </tr>                      
                    </form>
                </table></td></tr>
            </table>
        </main>
    </body>
</html>