<html lang="en">
    <head>
        <%- include('../partials/head'); %>
        <title> Product - MCM Virtual Marketplace </title>
    </head>
    <body>
        <header>
            <%- include('../partials/header'); %>
        </header>

        <main>
            <br><br>
                <form method="POST">
                    <table class="view_product">
                        <tr>
                            <td rowspan="6">
                                <img src="<%= data.imagePath1 %>" alt="logo" width="435" height="519">
                            </td>
                            <td class="view_product">
                                <h1 class="item"> <%= data.productName %> </h1>
                                <p class="price"> ₱<%= data.price %> </p><br>
                                <p class="error_caption"> <a target="_blank" href="/profile/<%= data.userID %>"> <%= data.firstName %> <%= data.lastName %> </a> </p><br>
                                <p class="error_caption"> <%= data.description %> </p>

                                <input class="view_product" type="button" value="<%= data.quantity %> items left" disabled>  

                                <br><br><br>

                                <input class="btn_catalog" type="button" value="Order Now" id="orderProduct">  
                            </td>
                        </tr>
                    </table>

                    <div id="myModal" class="modal">
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <p>
                                To inquire more about the product, <b> you may contact the seller</b> through any of these platforms:<br><br>
                                <img src="../../images/icon_messenger.png" class="profile_icon" alt="Messenger">
                                <img src="../../images/icon_instagram.png" class="profile_icon" alt="Instagram">
                                <img src="../../images/icon_twitter.png" class="profile_icon" alt="Twitter">
                                <img src="../../images/icon_linkedin.png" class="profile_icon" alt="Linkedin">                                
                            </p>
                            <p>
                                Send an <b> order request </b> <a href="/order/<%= data._id %>"> HERE </a>
                            </p>
                        </div>
                    </div> 

                </form>                           

        </main>

        <br><br>

        <footer>
            <%- include('../partials/footer'); %>
        </footer>

        <script>
            var modal = document.getElementById("myModal");
            var btn = document.getElementById("orderProduct");
            var span = document.getElementsByClassName("close")[0];
            btn.onclick = function() {
              modal.style.display = "block";
            }
            span.onclick = function() {
              modal.style.display = "none";
            }
            window.onclick = function(event) {
              if (event.target == modal) {
                modal.style.display = "none";
              }
            }
        </script>
            
    </body>
</html>